.venntooltip {
font-size : 12px;
position: static;
left: 10px;
text-align: center;
width: 400px;
height: 15px;
background: #333;
color: #fff;
padding: 2px;
border: 0px;
border-radius: 8px;
opacity: 0;
}

#venn_1{
border:2px;
padding-left: 10px;
border-style:double;
}

#venn_diagram{
font-size: 12px;
color: black;
}


