<!DOCTYPE HTML>
<html ng-app="monapp">
<head>
	<title>Projet annotation</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
	<link rel="stylesheet" href="projetslimgo.css">
	<script src="venn.js"></script>
</head>
<body>
	<h1>Projet d'annotation de données protéomiques</h1>
	<div ng-controller='moncontroller'>
		<p>la valeur stockée dans le premier champ est: {{madata1}}</p>
		<p>la valeur stockée dans le deuxième champ est: {{madata2}}</p>
		<p><input id="espèce1" ng-model="madata1"><input type="button" value="importer"></p>
		<p><input id="espèce2" ng-model="madata2"><input type="button" value="importer"></p>
		<p><input id="launch" type="button" value="lancer"></p>
		<p><input type="checkbox" id="neww" value="parameter">
			<label for="neww">paramètre</label></p>
		<fieldset>
			<legend>résultat de l'analyse</legend>
			<div>
				<p>annotations communes aux deux espèces: <em id='both'>none</em></p>
				<p>annotations uniques à l'espèce 1: <em id='one'>none</em></p>
				<p>annotations uniques à l'espèce 2: <em id='two'>none</em></p>
		</fieldset>
		<div id="venn_1" style=float:left>
			<h3>Diagramme de Venn</h3>
		</div>
		<div id="venn_2" style=float:left>
		</div>
		<div id='venn_value'>texte
		</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="./projetslimgo.js"></script>
<script src="./projetslimgo2.js"></script>
</html>
